.list-checked
  line-height 1.5rem
  margin 0
  padding 0
  li
    list-style none
    margin-left 1.5rem
    position relative
    &:before
      color $yellow
      content "✓"
      left -1.25rem
      position absolute
